In [4]:
def process(s):
    print('Initial s # = {0}'.format(id(s)))
    s = s + 'world'
    print('Final s # = {0}'.format(id(s)))

In [5]:
my_var = 'hello'
print('my_var # = {0}'.format(id(my_var)))

my_var # = 2291702541808

In [7]:
process(my_var)

Initial s # = 2291702541808
Final s # = 2291702718000

In [9]:
id(my_var)

2291702541808

In [10]:
my_var

'hello'

In [19]:
def modify_list(lst):
    print('Initial lst # = {0}'.format(id(lst)))
    lst.append(100)
    print('Final lst # = {0}'.format(id(lst)))

In [20]:
my_list = [1, 2, 3]

In [21]:
id(my_list)

2291731565320

In [22]:
modify_list(my_list)

Initial lst # = 2291731565320
Final lst # = 2291731565320

In [23]:
id(my_list)

2291731565320

In [24]:
my_list

[1, 2, 3, 100]

In [31]:
def modify_tuple(t):
    print('Initial t # = {0}'.format(id(t)))
    t[0].append(100)
    print('Final t # = {0}'.format(id(t)))

In [32]:
my_tuple = ([1,2], 'a')

In [33]:
id(my_tuple)

2291744660616

In [34]:
modify_tuple(my_tuple)

Initial t # = 2291744660616
Final t # = 2291744660616

In [36]:
my_tuple

([1, 2, 100], 'a')